include helpers/variables
include helpers/mixins

include ../blocks/page/page
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/breadcrumb/breadcrumb
include ../blocks/menu-user/menu-user

- $.title = `${pageList.blockInfo.title} - ${$.package.description}`;

+page
  +header.__header
  +e.__main
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid
          .row.mb-40.align-items-baseline
            .col-8
              .row.mx-25-inv.align-items-baseline
                .col-auto.px-25.mw-100
                  +b.H1.title.__title #[strong Trace]Chain
                .col-auto.px-25.mw-100
                  +breadcrumb(['Home', 'Blocks', 'Transactions'], 2).__breadcrumb
            .col-4.d-flex.flex-column.align-items-end
              +menu-user.__menu-user.mw-100
          .row
            .col-7.align-self-center
              +e.H2.__location
                +e.A.__back(href=js): +isvg#arrow-l.__back-ico
                | Address
            .col-5
              +b.FORM.form-search.__search(action='')
                +e.INPUT.__input(type='text' placeholder='Search by Address / Txhash / Block / Token / Ens' autocomplete='off')
                +e.BUTTON.__btn(tabindex='-1')
                  +isvg#search
      .container-fluid
        +b.info-box
          +e.__head
            +e.__head-col--1.col-6
              +e.__head-col-row.row
                .col-auto.flex-shrink-1.align-self-center
                  +e.__title Address
                .col-auto.flex-shrink-1.align-self-center
                  +b.BUTTON.btn--simple.__copy-hash(type='button')
                    +isvg#copy.__ico
                    +e.SPAN.__lbl Copy
                .col-auto.flex-shrink-1.ml-auto
                  +b.SELECT.select-outline
                    option Type: OUT
                    option Type: IN
              +e.__hash
                +e.__hash-ico
                  img(src='upload/image.png')
                +e.__hash-txt 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
            +e.__head-col--2.col-3
              +e.__head-col-row.row
                .col-auto.flex-shrink-1.align-self-center
                  +e.__title #MHC Balance
              +e.__num 457.00
            +e.__head-col--3.col-3
              +e.__head-col-row.row
                .col-auto.flex-shrink-1.align-self-center
                  +e.__title Transaction count
              +e.__num 6
          +e.__body
            .overflow-x-auto.mx-10-inv
              +b.TABLE.table-data--address
                thead
                  tr
                    th Transaction hash
                    th Age
                    th From
                    th Type
                    th To
                    th Value
                tbody
                  tr
                    td
                      a(href=js) 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      +e.__warning
                        +isvg#info.__warning-ico
                    td 16&nbsp;hours&nbsp;ago
                    td.text-truncate
                      span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                    td
                      span.text-uppercase Out
                    td
                      span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                    td 20
                  tr
                    td
                      a(href=js) 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                    td 18&nbsp;hours&nbsp;ago
                    td.text-truncate
                      span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                    td
                      span.text-uppercase Out
                    td
                      span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                    td 0
                  tr
                    td
                      a(href=js) 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                    td 20.03.2018
                    td.text-truncate
                      span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                    td
                      span.text-uppercase Out
                    td
                      span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                    td 30
  +footer.__footer